<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Uso do Ion Range
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <ion-range (ionChange)="onIonChange($event)"></ion-range>

    <ion-range (ionChange)="onIonChange($event)" [ticks]="true" [snaps]="true" [min]="0" [max]="10"></ion-range>

    <ion-range (ionChange)="onIonChange($event)">
      <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-range>

    <ion-label>{{valorRange}}</ion-label>
  </div>
</ion-content>
 