<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Exercícios Ionic - Ion Range
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ex1">

    <ion-alert trigger="ex1" header="Resultado:" message="{{msn_ex1}}" [buttons]="alertButtons"></ion-alert>

    <h1 style="text-align: center; font-size: 1.5rem;">Exercício 1</h1>
    <ion-input style="max-width: 200px;"  type="number" label="Digite o valor da conta" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="conta"></ion-input>
    <p>Ajuste a porcentagem da gorjeta:</p>
    <ion-range (ionChange)="ex1($event)" [ticks]="true" [snaps]="true" [min]="0" [max]="30" labelPlacement="end" style="max-width: 500px; padding-left: 10px;" label="{{Range_1}}%" [(ngModel)]="Range_1"></ion-range>
    <ion-button id="ex1" expand="block" style="max-width: 200px;" (click)="Calcular_Gorjeta()">Calcular</ion-button>
  </div>

  <ion-item-divider></ion-item-divider>

  <div class="ex2" style="margin-bottom: 50px;">
    <h1 style="text-align: center; font-size: 1.5rem;">Exercício 2</h1>
    <p>Ajuste o valor que deseja calcular (1 até 5000)</p>
    <ion-range (ionChange)="ex2($event)" [ticks]="true" [snaps]="true" [min]="1" [max]="5000" labelPlacement="end" style="max-width: 500px; padding-left: 10px;" label="{{Range_2}}" [(ngModel)]="Range_2"></ion-range>
    <div class="container_medidas" style="display: flex; flex-direction: row; width: 700px; gap: 30px">
      <ion-radio-group [(ngModel)]="medida1" (ionChange)="calcularConversao()" style="display: flex; flex-direction: column; gap: 5px">
        <p>Selecione a medida desejada</p>
        <ion-radio value="km">Quilômetros</ion-radio><br />
        <ion-radio value="hm">Hectômetros</ion-radio><br />
        <ion-radio value="dam">Decâmetros</ion-radio><br />
        <ion-radio value="m">Metros</ion-radio><br>
        <ion-radio value="dm">Decímetros</ion-radio><br>
        <ion-radio value="cm">Centímetros</ion-radio><br>
        <ion-radio value="mm">Milímetros</ion-radio>
      </ion-radio-group>

      <ion-radio-group [(ngModel)]="medida2" (ionChange)="calcularConversao()">
        <p>Selecione para que medida deseja converter</p>
        <ion-radio value="miles">Milhas</ion-radio><br><br>
        <ion-radio value="ft">Pés</ion-radio><br><br>
        <ion-radio value="in">Polegares</ion-radio>
      </ion-radio-group><br><br>
    </div>


  </div>

  <div class="res_ex2">
      <ion-label>Resultado: <strong>{{Range_2}} {{medida1}} = {{Range_2_res}} {{medida2}}</strong></ion-label>
  </div>

  <ion-item-divider></ion-item-divider>

  <div class="ex3">
    <h1 style="text-align: center; font-size: 1.5rem;">Exercício 3</h1>
  </div>

</ion-content>
